/*Ändrar storleken på texten och ändrar till ett annat typsnitt*/
html{
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Gör så att självaste sidan blir finare*/
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: rgb(152, 150, 150);
}
/*Ändrar hur bilderna ska se ut*/
img{
border-radius: 0.8rem;
}
/*Gör så att texten blir större och gör så att den lägger sig i mitten*/
h1 {
  font-size: 3rem;
  text-align: center;
}
/*Gör så att texten blir större och gör så att den lägger sig i mitten*/
h3{
  font-size: 1.7rem;
  text-align: center;
}
/*Ändrar färg på nav baren och sätter den på toppen av sidan*/
.topnav {
  background-color: #333;
  overflow: hidden;
  top: 0;
  position: sticky;
}

/* Ger en annan stil till nav baren */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  font-size: 2rem;
  margin: 0;
}

/* ändrar färgen när man har musen över länkarna */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*Ändrar stilen på sökfältet och storleken*/
.Search {
  font-size: 1.5rem;
  margin: 1rem;
  width: 60rem;
  border-radius: 1rem;
  margin-left: 20rem;
  justify-content: center;
  margin-top: 0rem;
}
/*Gör texten större*/
.text{
  font-size: 5.2rem;
  margin-top: 0.2rem;
}
/*Ändrar hur bilderna ligger på sidan*/
.Bil{
  margin: 2rem;
 display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0;
  width: 100%;
  height: 10%;
  justify-content: center;
}
/*Gör bilderna lite finare*/
.btn-car img {
  width: 17rem;
  height: 17rem;
  border-radius: 1.4rem;
  border: .2rem solid;
}
/*Byter färg och storlek på text till bilderna*/
.text{
  font-size: 2.2rem;
  color: white;
}
/*Gör så att listorna blir finare*/
.List{
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 500;
    width: 25%;
    min-height: 3.3rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid #f3f3f3;
    border-radius: .5rem;
    margin: .5rem;
}
/*trycker ihop bilderna så att det inte är så mycket rum mellan dom*/
.container{
  max-width: 100rem;
  margin: 0 auto;
}
/*Gör så att listorna är i mitten av sidan*/
.grid{
  margin-left: 18rem;
}
